In [15]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
import pandas as pd

df = pd.read_csv("JOCO_Data.csv")

df.head()

,period_begin,period_end,region,property_type,median_sale_price,median_list_price,homes_sold,new_listings,months_of_supply
0,3/1/2016,3/31/2016,"Johnson County, KS",Townhouse,152700.0,275000.0,70.0,87.0,2.3
1,3/1/2021,3/31/2021,"Johnson County, KS",Townhouse,239500.0,369000.0,42.0,71.0,0.8
2,6/1/2015,6/30/2015,"Johnson County, KS",Condo/Co-op,90000.0,245000.0,15.0,18.0,3.9
3,12/1/2021,12/31/2021,"Johnson County, KS",Condo/Co-op,155000.0,370000.0,19.0,8.0,0.5
4,4/1/2018,4/30/2018,"Johnson County, KS",Townhouse,168500.0,303250.0,79.0,84.0,1.7